.header {
    background-color: #1f2937;
    padding: 75px;
    padding-top: 2%;
}

.awesome {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.both, .header-body {
font: 18px;
color: #e5e7eb;

}

.header-logo {
    font: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.image {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    background-color: gray;
    color: #e5e7eb;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1f2937;
    font: 18px;
    color: #f9faf8;
    padding: 10px;

    text-align: center;
}


.both {
display: flex;

}


.middle {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

/* Not working */
.header-body {
    flex-grow: 0;
    flex-wrap: wrap;
}



button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    padding: 2px;
    border-style: none;
}

.awesome {
    font-weight: bold;
}