.header {
    background-color: #1f2937;
    padding: 75px;
    padding-top: 2%;
}
.both, .header-body {
font: 18px;
color: #e5e7eb;
}
.header-logo {
    font: 24px;
    color: #f9faf8;
    font-weight: bolder;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    padding: 2px;
    border-style: none;
}
.awesome {
    font-weight: bold;
    height: 100px;
    width: 300px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}
body {
    margin-left: 20%;
    margin-right: 20%;
}
/* Start of positioning for header */

.image {
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    background-color: gray;
    color: #e5e7eb;

    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
		margin-top: 50px;
}

.middle {
    margin-top: 5%;
    margin-right: 30px;

    display: inline-flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    flex-wrap: inherit;
  
    margin-top: 20px;  
}

.both {
    display: flex;
   
  }
  
  .link1, .link2, .link3 {
    margin-left: 28px;
  }
  
  .header-logo {
    margin-right: auto;
  }




.awesome {
    height: 100px;
    width: 300px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

/* Don't touch - perfect */
.footer {
    background-color: #1f2937;
    font: 18px;
    color: #f9faf8;
    padding: 10px;

    text-align: center;
}