.header {
    background-color: #1f2937;
    padding: 75px;
    padding-top: 2%;
}
.awesome {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}
.both, .header-body {
font: 18px;
color: #e5e7eb;
}
.header-logo {
    font: 24px;
    color: #f9faf8;
    font-weight: bolder;
}
button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 70px;
    height: 25px;
    padding: 2px;
    border-style: none;
}
.awesome {
    font-weight: bold;
}
/* Start of positioning for header */

.header {
    display: flex;
}

.image {
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    background-color: gray;
    color: #e5e7eb;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    align-self: center;
}



.middle {
    margin-top: 5%;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    flex-wrap: inherit;
  
    margin-top: 20px;  
}

.awesome {
    height: 100px;
    width: 300px;
}




/* Don't touch - perfect */
.footer {
    background-color: #1f2937;
    font: 18px;
    color: #f9faf8;
    padding: 10px;

    text-align: center;
}